@using KnockoutJspm.Helpers

@{
    ViewBag.Title = "Page2";
}

<div class="wrapper">
    <div class="content">
        <h2 data-bind="text: title"></h2>
        <div data-bind="component: 'component1'"></div>
        <p>Date: <input type="text" id="datepicker"></p>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="@Url.Content("~/Content/Page2.css")" />

    @if (!Html.IsDebug())
    {
        <script src="@Url.Content("~/Scripts/Bundle/Page2.js")"></script>
    }
    <script>
        System.import('AppStart/Page2');
        //System['import']('AppStart/Page2'); // Syntax for support IE8
    </script>
}